Repository Kendralabs/orchest, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fruttasecca, @yannickperrenet, @nhaghighat, @iannbing, @mausworks, @astrojuanlu

fix: services/base-images/runnable-shared/runner/requirements-dev.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-dev.txt
Owners: none

fix: services/node-agent/requirements.txt to reduce vulnerabilities
  services/node-agent/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/base-images/runnable-shared/runner/requirements.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements.txt
Owners: none

fix: services/base-images/runnable-shared/runner/requirements-user.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-user.txt
Owners: none

fix: services/base-images/runnable-shared/runner/requirements-user.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-user.txt
Owners: none

fix: services/node-agent/requirements.txt to reduce vulnerabilities
  services/node-agent/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/orchest-api/requirements.txt to reduce vulnerabilities
  services/orchest-api/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/auth-server/requirements.txt to reduce vulnerabilities
  services/auth-server/requirements.txt
Owners: @iannbing, @mausworks

fix: orchest-sdk/python/requirements-dev.txt to reduce vulnerabilities
  orchest-sdk/python/requirements-dev.txt
Owners: none

fix: services/base-images/runnable-shared/runner/requirements-dev.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-dev.txt
Owners: none

fix: services/orchest-api/requirements-dev.txt to reduce vulnerabilities
  services/orchest-api/requirements-dev.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/base-images/runnable-shared/runner/requirements.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements.txt
Owners: none

fix: services/session-sidecar/requirements-dev.txt to reduce vulnerabilities
  services/session-sidecar/requirements-dev.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/session-sidecar/requirements.txt to reduce vulnerabilities
  services/session-sidecar/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/orchest-webserver/requirements.txt to reduce vulnerabilities
  services/orchest-webserver/requirements.txt
Owners: @iannbing, @mausworks

fix: orchest-sdk/python/requirements.txt to reduce vulnerabilities
  orchest-sdk/python/requirements.txt
Owners: none

fix: services/jupyter-server/requirements.txt to reduce vulnerabilities
  services/jupyter-server/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Owners: @astrojuanlu

fix: services/jupyter-server/requirements.txt to reduce vulnerabilities
  services/jupyter-server/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/base-images/runnable-shared/runner/requirements-user.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-user.txt
Owners: none

fix: services/jupyter-server/requirements.txt to reduce vulnerabilities
  services/jupyter-server/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/base-images/runnable-shared/runner/requirements-dev.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-dev.txt
Owners: none

fix: services/orchest-webserver/requirements.txt to reduce vulnerabilities
  services/orchest-webserver/requirements.txt
Owners: @iannbing, @mausworks

fix: services/base-images/runnable-shared/runner/requirements.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements.txt
Owners: none

fix: docs/requirements.txt to reduce vulnerabilities
  docs/requirements.txt
Owners: @astrojuanlu

fix: services/orchest-api/requirements.txt to reduce vulnerabilities
  services/orchest-api/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/orchest-api/requirements-dev.txt to reduce vulnerabilities
  services/orchest-api/requirements-dev.txt
Owners: @fruttasecca, @yannickperrenet

fix: orchest-sdk/python/requirements-dev.txt to reduce vulnerabilities
  orchest-sdk/python/requirements-dev.txt
Owners: none

fix: services/session-sidecar/requirements.txt to reduce vulnerabilities
  services/session-sidecar/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/jupyter-server/requirements.txt to reduce vulnerabilities
  services/jupyter-server/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/auth-server/requirements.txt to reduce vulnerabilities
  services/auth-server/requirements.txt
Owners: @iannbing, @mausworks

fix: services/node-agent/requirements.txt to reduce vulnerabilities
  services/node-agent/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/session-sidecar/requirements-dev.txt to reduce vulnerabilities
  services/session-sidecar/requirements-dev.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/base-images/runnable-shared/runner/requirements.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements.txt
Owners: none

fix: services/orchest-webserver/requirements.txt to reduce vulnerabilities
  services/orchest-webserver/requirements.txt
Owners: @iannbing, @mausworks

fix: services/base-images/runnable-shared/runner/requirements-user.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-user.txt
Owners: none

fix: services/jupyter-server/requirements.txt to reduce vulnerabilities
  services/jupyter-server/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/jupyter-server/requirements.txt to reduce vulnerabilities
  services/jupyter-server/requirements.txt
Owners: @fruttasecca, @yannickperrenet

fix: services/base-images/runnable-shared/runner/requirements-dev.txt to reduce vulnerabilities
  services/base-images/runnable-shared/runner/requirements-dev.txt
Owners: none

fix: services/orchest-api/requirements.txt to reduce vulnerabilities
  services/orchest-api/requirements.txt
Owners: @fruttasecca, @yannickperrenet

.github/CODEOWNERS:

# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for more details about how CODEOWNERS works

# Backend
services/base-images/*  @fruttasecca @yannickperrenet
services/jupyter-enterprise-gateway/*  @fruttasecca @yannickperrenet
services/jupyter-server/*  @fruttasecca @yannickperrenet
services/node-agent/*  @fruttasecca @yannickperrenet
services/orchest-api/*  @fruttasecca @yannickperrenet
services/session-sidecar/*  @fruttasecca @yannickperrenet

# PyPi packages
orchest-cli/*  @yannickperrenet @nhaghighat
orchest-sdk/*  @fruttasecca @yannickperrenet

# Frontend
services/auth-server/*  @iannbing @mausworks
services/orchest-webserver/*  @iannbing @mausworks

# K8S
services/orchest-controller/*  @nhaghighat

# Documentation
docs/*  @astrojuanlu
